<div class="row">
    <div id="soundcloud-music">
        <iframe scrolling="no" 
                frameborder="no" 
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/236808258&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" 
            />

    </div>
</div>
